.masthead {
    position: relative;
}
.navbar-nav {
    position: absolute;
    top: 1.2rem;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar-nav li {
    float: left;
    margin: 0 0 0 1rem;
}
.navbar-nav li.active a {
    text-decoration: underline;
}
.heroImageWrap {
    position: absolute;
    left: 0;
    top: 4rem;
    width: 100%;
    height: 20rem;
    background: url(https://farm4.staticflickr.com/3912/14649724119_f7dde4e835_h.jpg) center center repeat;
    background-size: cover;
    z-index: -9;
}
.heroImageWrap .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}
body > .container > .post {
    z-index: 9999;
}
.post.single h1 {
    margin-top: 12rem;
    color: rgba(255,255,255,0.8);
}
.post.single .post-date {
    margin-bottom: 4rem;
    color: rgba(255,255,255,0.5);
}